*{    
    text-align: center;
}
h1 {
    color: #27aedb;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
}
main{
    align-content: center;
    height: calc(100vh - 80px);
}
#main{
    height: calc(100vh - 30px);
}