*{    
    text-align: center;
}
h1 {
    color: #27aedb;
    }
    

button{
    color: #27aedb;
    align-content: center;
    padding: 8px 16px;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 8px;

}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
}
main{
    align-content: center;
    height: calc(100vh - 80px);
}
#main{
    height: calc(100vh - 30px);
}
.person-img{
    height: 160px;
    object-fit: contain;
}
.reviews{
    align-content: center;
    margin: auto 300px;
}
.review{
    border: 1px solid;
    border-radius: 12px;
    padding: 10px;
    background: aliceblue;
}
.prev-btn{
    margin: 0px 4px 4px 0;
}